<!DOCTYPE html>
<html>

<!-- Mirrored from portotheme.com/html//checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 14 Feb 2021 18:51:14 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DMEZ</title>
    <link rel="stylesheet" href="/public/css/status.css">
    <link rel="stylesheet" href="/public/css/product.css">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/public/assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/public/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />

    <%if(data.success) {%>

    <%if(data.isAddress){%>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <%}%>
    
	<script>
        const payload = {
            key: "<%=data.key%>",
            orderId: "<%=data.order%>",
            name: 'Dmez',
            amount: '<%=data.total%>' * 100,
            currency: "INR",
            prefill: {
                name: "<%=data.user.name%>",
                contact: "<%=data.user.contact%>",
                email: "<%=data.user.email%>"
            },
            theme: {
                color: "#FFB607"
            }
        }
    </script>
    <%if(data.address){%>
    <script>
        const address = {
            name: "<%= data.address.name%>",
            state: "<%= data.address.state%>",
            city: "<%= data.address.city%>",
            zipcode: "<%= data.address.zipcode%>",
            area: "<%= data.address.area%>",
            landmark: "<%= data.address.landmark%>",
            flatnumber: "<%= data.address.flatnumber%>",
            email: "<%= data.user.email%>",
            contact: "<%= data.address.contact%>"
        }
    </script>
    <%}else{%>
    <script>
        const address = {}
    </script>
    <%}%>
	<%}%>
</head>

<%if(data.success){%>

<body>
    <!--status-->
    <div style="background-color:brown" class="status">
        <p></p>
        <span onclick="closeStatus(event)"><i class="fas-fa-window-close"></i></span>
    </div>
    <!--status-->
    <header>
        <nav>
            <div id="navbar">
                <div id="logo" class="reverse">
                    <div class="mobile-btn" style="font-size:30px;cursor:pointer; font-weight:bold;"
                        onclick="openNav()">&#9776;</div>
                    <div class="logos"><a href="/"><img src="/public/images/dmez.png" width="45" height="30"></img></a>
                    </div>

                </div>
                <div id="links">
                    <a href="/">Home</a>
                    <a href="/products">Shop</a>
                    <a href="/account"><i class="fas fa-user-circle"></i> Account</a>
                    <a href="/cart"> <i class="fas fa-shopping-cart"></i> Cart</a>

                </div>
            </div>

        </nav>
        <!-- Mobile Menu -->
        <div id="mySidenav" class="sidenav">
            <a style="cursor:pointer;" class="closebtn" onclick="closeNav()">&times;</a>
            <a style="color: #A1B985;">Howdy!</a>
            <a href="/">Home</a>
            <a href="/products">Shop</a>
            <a href="/cart"> Cart</a>
            <a href="/account"> Account</a>

            <a href="/products">Contact</a>
            <div class="search">
                <form class="search-container">
                    <input type="text" id="search-bar" placeholder="Search for medicines"
                        style="border: 1px solid #A1B985">
                    <a href="#"><i id="icon" class="fas fa-search"></i></a>
                </form>

            </div>
        </div>
    </header>
    <div class="page-wrapper">


        <main class="main">
            <div class="page-header text-center" id="bg1">
                <div class="container">
                    <h1 class="page-title">Checkout<span>Shop</span></h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <!-- <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Shop</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Checkout</li> -->
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="checkout">
                    <div class="container">

                        <form action="#">
                            <div class="row">
                                <div class="col-lg-9">
                                    <h2 class="checkout-title">Billing Details & Shipping Address</h2>
                                    <!-- End .checkout-title -->
                                    <h6> <a href="/account/address/edit" style="color: #A1B985;">Change Billing
                                            Address</a></h6>
                                    <div class="row">
                                        <div class="col-sm-6 col-ms-6">
                                            <label id="fname">Name: </label>
                                            <span><%= data.address.name || ''%></span>
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->

                                    <label id="street">House/Flat Number:
                                        <span><%= data.address.flatnumber || ''%></span>
                                    </label>


                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label id="city">Town / City: </label>
                                            <span><%= data.address.city || ''%></span>
                                        </div><!-- End .col-sm-6 -->

                                        <div class="col-sm-6">
                                            <label id="state">State:</label>
                                            <span><%= data.address.state || ''%></span>
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label id="zip">Postcode / ZIP:</label>
                                            <span><%= data.address.zipcode || ''%></span>
                                        </div><!-- End .col-sm-6 -->

                                        <div class="col-sm-6">
                                            <label id="phone">Phone:</label>
                                            <span><%= data.address.contact || ''%></span>
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->

                                    <label id="emailadd">Email address: <span><%=data.user.email || ''%></span> </label>




                                </div><!-- End .col-lg-9 -->
                                <aside class="col-lg-3">
                                    <div class="summary">
                                        <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                                        <table class="table table-summary">
                                            <thead>
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <% data.products.forEach(product => {  %>
                                                <tr>
                                                    <td><a
                                                            href="/products/<%=product.productId%>"><%=product.title%></a>
                                                    </td>
                                                    <td>₹<%= (product.price - product.discount) * product.quantity %>
                                                    </td>
                                                </tr>
                                                <% }) %>

                                                <tr class="summary-coupon">
                                                    <td>Coupon Savings:</td>
                                                    <td>₹<%=data.couponDiscount%></td>
                                                </tr><!-- End .summary-subtotal -->
                                                <tr class="summary-subtotal">
                                                    <td style="color:#A1B985 ;">Subtotal:</td>
                                                    <td style="color:#A1B985 ;">
                                                        ₹<%=data.subTotal - data.couponDiscount%></td>
                                                </tr><!-- End .summary-subtotal -->
                                                <tr>
                                                    <td>Shipping:</td>
                                                    <% if(!data.charge) {%>
                                                    <td>Free shipping</td>
                                                    <%} else {%>
                                                    <td>₹<%=data.charge%></td>
                                                    <%}%>
												</tr>
                                                <tr class="summary-total">
                                                    <td style="font-weight: 700;">Total:</td>
                                                    <td style="font-weight: 700;">₹<%= data.total %></td>
                                                </tr><!-- End .summary-total -->
                                            </tbody>
                                        </table><!-- End .table table-summary -->



                                        <%if(data.isAddress) {%>
                                        <div onclick="initPayment()" class="btor">
                                            <center><span>Place Order</span></center>
                                        </div>
                                        <%}else{%>
                                        <div class="btor">
                                            <center><span>Place Order</span></center>
                                        </div>
                                        <p>Please provide your address</p>
                                        <%}%>

                                        <!-- onclick="placeOrder()" -->
                                    </div><!-- End .summary -->
                                </aside><!-- End .col-lg-3 -->
                            </div><!-- End .row -->
                        </form>
                    </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->


    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>


    <!-- Plugins JS File -->
    <script src="/public/assets/js/jquery.min.js"></script>
    <script src="/public/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/public/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/public/assets/js/jquery.waypoints.min.js"></script>
    <script src="/public/assets/js/superfish.min.js"></script>
    <script src="/public/assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="/public/assets/js/main.js"></script>
    <!--ABD JS FILE-->
    <script src="/public/main_js/status.js"></script>
    <%if(data.isAddress){%>
       <script src="/public/main_js/checkout.js"></script>
    <%}%>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }

    </script>

</body>
<%}else{%>

<body>
   <center>
    <p><%=data.message%></p>
   </center>
   <center><a href="/cart">cart</a></center>
</body>
<%}%>
</html>